@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');
.your-prod-msg{
    font: 5vh "Ubuntu", Arial;
    padding: 6vh 2vw 3vh 2vw;
}
.goto-add-prod-container{
    background-color: white;
    padding: 10vh 2vw;
    box-sizing: border-box;
    border: 6px dashed grey;
    transition: all 0.2s ease-out;
}
.goto-add-prod-container:hover{
    cursor: pointer;
    border: 6px solid rgb(42, 0, 109);
    border-radius: 20px;
    background-color: rgba(236, 187, 255, 0.514);
}
#addprod-icon{
    height: 15vh;
}
.add-prod-msg{
    text-align: center;
    font: 4vh "Arbutus", Arial;
    color: rgb(52, 0, 150); 
    transition: all 0.2s ease-out;
}
.goto-add-prod-container:hover > .add-prod-msg{
    transform: scale(1.6);
}
.products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.addn-msg{
    text-align: center;
    padding: 2vh 0 10vh 0;
    font: 3vh "Ubuntu", Arial;
}
.updatecitycat-btn{
    padding: 5px 20px;
    font: 2vh "Ubuntu", Arial;
    background-color: rgb(234, 150, 255);
    border: 2px solid purple;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.updatecitycat-btn:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}