@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.request-city-head {
    font: 4vh "Merienda", Arial;
    text-align: center;
}

.ip-wrapper {
    padding: 0 1.5vw;
}
.state-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
}

.state-msg {
    margin-right: 10px;
    font: 3.5vh "Ubuntu", Arial;
    color: rgb(88, 0, 88);
}

#state-select {
    font: 3.5vh "Ubuntu", Arial;
    padding: 3px 7px;
    background-color: rgb(223, 188, 255);
    color: black;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

#state-select:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(54, 0, 54);
    color: white;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.close-btn {
    margin-right: 7vw;
    padding: 3px 30px;
    font: 3.4vh "Ubuntu", Arial;
    color: black;
    border: 2px solid rgb(156, 0, 0);
    border-radius: 7px;
    background-color: rgb(255, 117, 117);
    transition: all 0.3s ease-out;
}

.close-btn:hover {
    cursor: pointer;
    background-color: rgb(156, 0, 0);
    color: white;
}

.request-city-btn {
    padding: 3px 30px;
    font: 3.4vh "Ubuntu", Arial;
    color: black;
    border: 2px solid rgb(0, 104, 40);
    border-radius: 7px;
    background-color: rgb(143, 255, 143);
    transition: all 0.3s ease-out;
}

.request-city-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 104, 40);
    color: white;
}
